[build-system]
requires = ["jupyter_packaging~=0.10,<0.11", "jupyterlab~=3.0"]
build-backend = "jupyter_packaging.build_api"

[tool.jupyter-packaging.builder]
factory = "jupyter_packaging.npm_builder"

[tool.jupyter-packaging.build-args]
build_cmd = "build:extensions"
npm = ["yarn"]
